# `pandas` - tasks

In [83]:
# import pandas 
import pandas as pd

In [84]:
# create a variable called data that is a pd.DataFrame
data = pd.DataFrame({
    'a': [1.0, 1.1, 0.4, 2.1, 5.8, 1.3, 2.8, 5.4, 3.2, 1.0],
    'b': [0.5, 0.8, 0.1, 0.2, 0.4, 0.5, 0.1, 0.1, 0.5, 0.0]
})

In [85]:
# Print the names of the columns and index using an f-string
print(f"Columns: {data.columns.tolist()}\nIndex: {data.index.tolist()}")

Columns: ['a', 'b']
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
# Sort the dataframe using data.sort_values
data.sort_values(['b' , 'a'])

     a    b
9  1.0  0.0
2  0.4  0.1
6  2.8  0.1
7  5.4  0.1
3  2.1  0.2
4  5.8  0.4
0  1.0  0.5
5  1.3  0.5
8  3.2  0.5
1  1.1  0.8

In [87]:
# use data.head to get the first 2 rows
data.head(2)

     a    b
0  1.0  0.5
1  1.1  0.8

In [88]:
# get the length of the dataframe
len(data)

10

In [89]:
# get the mean of column 'a'
data.mean()['a']

np.float64(2.4099999999999997)

In [90]:
# get the standard deviation of column 'b'
data.std()['b']

np.float64(0.2573367875415838)

In [91]:
# get the sum of 'a'
data.sum()['a']

np.float64(24.099999999999998)

In [92]:
# get the sum of 'a' and 'b' for each row
data.sum(axis= 1)

0    1.5
1    1.9
2    0.5
3    2.3
4    6.2
5    1.8
6    2.9
7    5.5
8    3.7
9    1.0
dtype: float64

In [93]:
# get the maximum value in column 'a'
data.max()['a']

np.float64(5.8)

In [94]:
# write a function that returns the sum of the minimum values in each column
def minimum_sum(df: pd.DataFrame) -> float:
    return df.min().sum()

minimum_sum(data)

np.float64(0.4)

In [95]:
# make a copy of the dataframe
data.copy()

     a    b
0  1.0  0.5
1  1.1  0.8
2  0.4  0.1
3  2.1  0.2
4  5.8  0.4
5  1.3  0.5
6  2.8  0.1
7  5.4  0.1
8  3.2  0.5
9  1.0  0.0

In [97]:
# use .loc to get the first 6 values of column 'a'
data.loc[0:5, 'a']

0    1.0
1    1.1
2    0.4
3    2.1
4    5.8
5    1.3
Name: a, dtype: float64

In [103]:
# use .iloc to get the last 4 values of column 'b'
data.iloc[-4:, 1]

6    0.1
7    0.1
8    0.5
9    0.0
Name: b, dtype: float64

In [107]:
# create column 'c' which is column 'a' squared
data['c'] = data['a'] ** 2